/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

.logo{
  width:150px;
}

.nav-items>ul{
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items>ul>li{
  padding:10px;
  margin:10px;
}

.res-card{
  padding: 5px;
  width: 220px;
  height: 350px;
}

.res-card:hover{
  cursor: pointer;
  border: 1px solid black;
}

.search{
  padding: 10px;
}

.res-logo{
  width: 150px;
}

.res-container{
  display: flex;
}